@font-face {
  font-family: Montserrat-Bold;
  src: url(~src/assets/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(~src/assets/fonts/Montserrat-Regular.ttf);
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Montserrat-Regular, sans-serif;
  font-weight: normal;
}

.app-container {
  max-width: 1180px;
  margin: 0 auto;
}

p {
  margin: 0;
}

input {
  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  &.ng-valid.ng-touched {
    border: 2px solid green;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 16px;
  }
  .app-container {
    max-width: 1180px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .app-container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .app-container {
    max-width: 100%;
  }
}
