<main class="main app-container">
  <div class="header">
    <p class="header__title">Сортировать по:</p>
    <button class="header__btn" (click)="sortByPrice()" [ngClass]="{'header__btn__price--up': orderTogglePrice}">Цене</button>
    <button class="header__btn" (click)="sortByAge()" [ngClass]="{'header__btn__age--up': orderToggleAge}">Возрасту</button>
  </div>

  <div class="catalog">
    <app-catalog-item
      *ngFor="let item of viewCatalog"
      [item]="item"
    >
    </app-catalog-item>
  </div>

  <div class="footer">
    <button class="btn-add" (click)="addCats()">показать еще 20</button>
    <button class="btn-scroll" (click)="scrollUp()"></button>
  </div>
</main>
