<main class="main app-container">
  <div class="header">
    <p class="header__title">Сортировать по:</p>
    <button type="button" class="header__btn" (click)="sortByPrice()" [ngClass]="{'header__btn__price--up': orderTogglePrice}">Цене</button>
    <button type="button" class="header__btn" (click)="sortByAge()" [ngClass]="{'header__btn__age--up': orderToggleAge}">Возрасту</button>
  </div>

  <div class="catalog">
    <app-catalog-item
      *ngFor="let item of viewCatalog"
      [item]="item"
      (like)="onLike()"
    >
    </app-catalog-item>
  </div>

  <div class="footer">
    <button type="button" class="btn-add" (click)="addCats()" *ngIf="catalog.length">показать еще 3</button>
    <button type="button" class="btn-scroll" (click)="scrollUp()"></button>
  </div>
</main>

<div class="popup-like" [ngClass]="{'popup-like--active': showPopup}">
  <p>Добавлено в избранное</p>
</div>
